.saveCtaContainer {
	display: flex;
	justify-content: flex-end;

	margin: 1rem 0;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

/* file upload button */
input[type="file"]::file-selector-button {
	// border-radius: 4px;
	padding: 0 10px;
	height: 36px;
	cursor: pointer;
	background-color: white;
	border: 0px solid #49454f;
	border-right-width: 1px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	margin-right: 16px;
	transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
	background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
	background-color: #e5e7eb;
}
