.saveCtaContainer {
	display: flex;
	justify-content: flex-end;

	margin: 1rem 0;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

/* file upload button */
input[type="file"]::file-selector-button {
	// border-radius: 4px;
	padding: 0 10px;
	height: 36px;
	cursor: pointer;
	background-color: white;
	border: 0px solid #49454f;
	border-right-width: 1px;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	margin-right: 16px;
	transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
	background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
	background-color: #e5e7eb;
}

.scrollView {
	// z-index: 99;
	scroll-behavior: smooth;
	overflow-y: scroll;
	max-height: 100vh;

	-ms-overflow-style: initial !important;
	scrollbar-width: 15px !important;
}
/* hide scrollbar for chrome, safari and opera */
.scrollView::-webkit-scrollbar {
	display: flex !important;
	width: 4px !important;
}

.scrollView::-webkit-scrollbar-thumb {
	background-color: #f37b21;
	height: 28%;
	border-radius: 99px;
}
.scrollView::-webkit-scrollbar-track {
	background: #f5f5f5;
}

.scrollView::-webkit-scrollbar-thumb:hover {
	background-color: #f37b2180;
}
