$color01: #e5e5e5;
$color02: #f37b21;
$color03: #4f47a6;
$color04: #ff5733;
$color05: #727272;
$color06: #707070;
$color07: #f5f5f5;
$color08: #686868;
$color09: #212121;
$color10: #14213d;
$color11: #fff;
$color12: #eceff7;
$color13: #7987a5;
$color14: #43130f;
$color15: #faa9a3;
$color16: #fff7fa;
$color17: #fff6ed;
$color18: #f5ce84;
$color19: #f5faf5;
$color20: #a9d3ab;
$color21: #fff9f0;
$color22: #505887;
$color23: #718ebf;
$color24: #f5fffc;
$color25: #3734a9b2;
$color26: #ff8784;
$color27: #dadada;
$color28: #5a628e;
$color29: #dee1e6;
$color30: #51459e;
$color31: #f6f5ff;
$color32: #a9abb0;
$color33: #1c1f37;
$color34: #fff5f5;
$color35: #f5f7fb;
$color36: #fafafa;
$color37: #939393;
$color38: #313131;
$color39: #848484;
$color40: #00a2d6;
$color41: #494949;
$color42: #2e2e2e;
$color43: #747474;
$color44: #4ba764;
$color45: #ececec;
$color46: #000000;
$color47: #454545;
$color48: #1ac12133;
$color49: #17c71e;
$color50: #747474;
$color51: #70dc75;
$color52: #f6fdf6;
$color53: #ffe9de;
$color54: #3246a7;
$color55: #edf0fe;
$color56: #d1571733;
$color57: #c7ceed;
$color58: #d15717;
$color59: #707c97b2;
$color60: #c4c4c466;
$color61: #4e4e4e;
$color62: #fbd0af;
$color63: #14213d99;
$color64: #6d6d6d;
$color65: #00000088;
$color66: #37833b;
$color67: #b88217;
$color68: #132c14;
$color69: #463209;
$color70: #393939;
$color71: #707c9726;
$color72: #969696;
$color73: #0000004d;
$color74: #929292;
$color75: #ffd2c7;
$color76: #2f2f2f;
$color77: #404b5b;
$color78: #1c1f37b2;
$color79: #f2f2f2;
$color80: #1d1d1b;
$color81: #e43f3f;
$color82: #17bee2;
$color83: #ed4141;
$color84: #25A9D2;
$color85: #C8372D;
$color86: #FAA9A3;
$color87: #ffa600;
$color88: #A9D3AB;
$color89: #132C14;
$color90: #B4B4BB;
$color91: #F361B9;
$color92: #7500EB;
$color93: #656ACF;
